  <table class="table table-striped " *ngIf="hayRegistros(); else sinarticulos">
    <thead>
      <tr>
        <th >Codigo</th>
        <th>Descripcion</th>
        <th >Precio</th>
        <th >Borrar</th>
        <th>Seleccionar</th>
        <th >Cambiar Lugar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let art of articulos;  let i = index;" [ngClass]="{ 'fila-coloreada': art.colorearfila == true }">
        <th>{{art.codigo}}</th>
        <td>{{art.descripcion}}</td>
        <td>{{art.precio}}</td>
        <td><button class="btn btn-danger" (click)="borrar(i)">Borrar?</button></td>
        <td><button class="btn btn-secondary" (click)="seleccionar(art)">Seleccionar</button></td>
        <td><button class="btn btn-warning" (click)="corroborarSeleccion(i)">Cambiar de posición</button></td>
      </tr>
    </tbody>
  </table>

  <ng-template #sinarticulos>
    <p>No hay articulos.</p>
  </ng-template>

  
  <app-crud [articuloSeleccionado]="articuloSeleccionado"> </app-crud>

